<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{% block title%}{% endblock %}</title>
    <style>
        .blog-footer p {
            margin-top: 0;
            margin-bottom: 0rem;
        }

        .fixed-top {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
        }

        .blog-footer {
            padding: 0.5rem 0;
            background-color: rgb(24, 24, 24);
            text-align: center;
            width: 100%;
            color: rgb(255, 255, 255);
            margin-top: 5rem;
        }
    </style>
    {% block css%}{% endblock %}
</head>

<body class="bg-secondary">
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar_top">
        <div class="container">
            <a class="navbar-brand" href="/shop">
                <img src='{% static "shop/icons/trolley.png" %}'' alt="" width="30" height="24"
                    class="d-inline-block align-text-bottom">
                MyAwesomeCart
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop/about/">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/shop/tracker/">Tracker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/shop/contact/">Contact Us</a>
                    </li>
                </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
                                viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg> Search
                        </button>
                    </form>
                    <button class="btn btn-success my-2 my-sm-0 mx-2" type="submit" id="pop_cart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag"
                            viewBox="0 0 16 16">
                            <path
                                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                        </svg><span id="cart"> </span>
                    </button>
            </div>
        </div>
    </nav>
{%block body%}{%endblock%}
<div class="container-fluid">
    <footer class="blog-footer">
        <p>MyAwesomeCart Creation copyright <a href="https://getbootstrap.com/">Bootstrap</a> by <a
                href="https://www.linkedin.com/in/swapnilukey225/">@swapnil</a>.</p>
    </footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
    
{% block js %} {% endblock %}
</body>

</html>