{% extends 'shop/basic.html'%}

{% block title%}About{% endblock %}
{% block css%}
<style>
    .contact {
        margin-top: 8rem;
    }

    .blog-footer {
        margin-top: 14rem;
    }
</style>
{% endblock %}


{%block body%}
<!--Section: Contact v.2-->
<div class="container contact">
    <div class="content">
        <div class="container">
            <div class="row bg-dark rounded text-white p-2">
                <div class="col-md-5 mr-auto">
                    <h2>Contact Us</h2>
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quaerat autem
                        corrupti
                        asperiores accusantium et fuga! Facere excepturi, quo eos, nobis doloremque dolor labore
                        expedita
                        illum iusto, aut repellat fuga!</p>
                    <ul class="list-unstyled pl-md-5 mb-5">
                        <li class="d-flex text-black mb-2">
                            <span class="mr-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                </svg>
                            </span> <a href="https://goo.gl/maps/SHfbbqZHaT4Ly4Cp7 ">
                                563-599 LaGuardia Pl
                                New York, NY 10012
                                <br>
                                United States
                            </a>
                        </li>
                        <li class="d-flex text-black mb-2"><span class="mr-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-phone" viewBox="0 0 16 16">
                                    <path
                                        d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
                                    <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                </svg>
                            </span> <a href="tel:8665562570">Call us at 866-556-2570</a></li>
                        <li class="d-flex text-black mb-2"><span class="mr-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-envelope" viewBox="0 0 16 16">
                                    <path
                                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                </svg>
                            </span><a href="mailto:myawesomecartmail@gmail.com">myawesomecartmail@gmail.com</a>

                        </li>

                    </ul>
                </div>
                <div class="col-md-6">
                    <form class="mb-5" action="/shop/contact/" method="post" id="contactForm">{% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="name" class="col-form-label">Name</label>
                                <input type="text" class="form-control" id="name" name='name'
                                    placeholder="Enter Your Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="name" class="col-form-label">Email</label>
                                <input type="email" class="form-control" id="email" name='email'
                                    placeholder="Enter Your Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="name" class="col-form-label">Phone</label>
                                <input type="tel" class="form-control" id="phone" name='phone'
                                    placeholder="Enter Your Phone Number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="desc" class="col-form-label">How May We Help You?</label>
                                <textarea class="form-control" id="desc" name='desc' cols="30" rows="7"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                                <span class="submitting"></span>
                            </div>
                        </div>
                    </form>
                    <div id="form-message-warning mt-4"></div>
                    <!-- <div id="form-message-success">
                        Your message was sent, thank you!
                    </div> -->
                </div>
            </div>

        </div>
    </div>
    <!--Section: Contact v.2-->
    {%endblock%}